@import './theme//mixins.scss';

@font-face {
  font-family: 'Poppins';
  src: url('./theme/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./theme/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./theme/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./theme/fonts/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


body {
  margin: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;

  #root {
    @include flex(column);
    height: 100%;
    line-height: $lineHeight;
    text-underline-offset: 0.25rem;
  }

  main {
    flex: 1 0 auto;

    section.MuiContainer-root {
      padding: 0;
    }
  }

  footer {
    flex-shrink: 0;
  }
  
  h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  
  p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
}
